* {
    box-sizing: border-box;
    line-height: 1;
}

a{
    text-decoration: none;
    color: #000000;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
}

body {
    font-size: 28px;
}

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    padding: 0;
    border: 0;
    clip: rect(0 0 0 0);
    overflow: hidden;
}

header .container {
    display: flex;
    justify-content: space-between;
    align-content: center;
    padding-top: 13px;
    padding-bottom: 13px;
    min-height: 80px;
}

.header-inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.lang {
    font-family: 'Tourney';
    font-weight: 600;
    font-size: 22px;
    letter-spacing: 0.04em;
    margin-right: 50px;
}

.list-header {
    display: flex;
    flex-direction: row;
}

.item-header {
    font-family: 'Staatliches', cursive;
    font-weight: 400;
    font-size: 22px;
    letter-spacing: 0.03em;
}

.item-header:not(:last-child) {
    margin-right: 10px;
}

.logo {
    width: 238px;
    height: 54px;
}

main .container {
    margin-top: 70px;
    padding-bottom: 90px;
}

section:not(:last-child) {
    margin-bottom: 70px;
}

.title-section {
    display: flex;
    align-items: flex-start;
    font-family: 'Francois One', sans-serif;
    font-size: 36px;
    line-height: 48px;
    letter-spacing: 0.04em;
    text-transform: uppercase;
    margin-bottom: 40px;
}

.title-section span {
    font-family: 'Farro', sans-serif;
    font-size: 16px;
    font-weight: 300;
    letter-spacing: 0.04em;
    text-transform: capitalize;
    margin-left: 10px; 
    line-height: 1;
}

.text,
ul {
    font-family: 'PT Sans', sans-serif;
    font-weight: 400;
    line-height: 48px;
}

.text:not(:last-child) {
    margin-bottom: 40px;
}

.list-item:not(:last-child) {
    margin-bottom: 40px;
}

.list-item p {
    margin-top: 40px;
}

.underline {
    text-decoration: underline;
}

.cursive {
    font-style: italic;
}

.bold {
    font-weight: 700;
}

.background {
    background-color: #DADADA;
}

@media only screen and (max-width:600px) {
    
    body {
        font-size: 22px;
    }
    
    .container {
        padding: 0 15px;
    }
    
    header .container {
        flex-direction: column-reverse;
        padding-top: 10px;
        padding-bottom: 10px;
        min-height: 80px;
    }

    .header-inner {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .lang {
        margin-right: 0px;
        margin-bottom: 10px;
    }

    .logo {
        margin: 0 auto;
        margin-bottom: 20px;
    }

    main .container {
        margin-top: 45px;
        padding-bottom: 45px;
    }

    section:not(:last-child) {
        margin-bottom: 50px;
    }

    .title-section {
        font-size: 28px;
        line-height: 1;
        margin-bottom: 25px;
    }

    .title-section span {
        font-size: 14px;
    }

    .text:not(:last-child) {
        margin-bottom: 25px;
    }
  
    .list-item:not(:last-child) {
        margin-bottom: 25px;
    }
    
    .list-item p {
        margin-top: 25px;
    }
}

